.projects {
    background: linear-gradient(180deg, var(--color-primary), var(--color-primary-light) 100%);
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;
}

.projects h1 {
    margin: 0 auto 4rem;
    padding-top: 4rem;
    width: 30%;
    color: var(--color-offWhite);
    font-size: 2.5rem;
    font-weight: 600;
    border-bottom: 3px solid;
}

/* from https://www.shapedivider.app/ */
.topAngle-svg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.topAngle-svg svg {
    position: relative;
    display: block;
    width: calc(222% + 1.3px);
    height: 38px;
}

.topAngle-svg .shape-fill {
    fill: var(--color-primary);
}

.bottomAngle-svg {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bottomAngle-svg svg {
    position: relative;
    display: block;
    width: calc(222% + 1.3px);
    height: 38px;
}

.bottomAngle-svg .shape-fill {
    fill: var(--color-primary-light);
}

@media screen and (max-width:940px) {
    .projects {
        padding: 0 .3rem 3rem;
        width: 100%;
    }

    .projects h1 {
        width: 85%
    }

    .topAngle-svg svg,
    .bottomAngle-svg svg {
        /* width: calc(120% + 1.3px); */
        height: 20px;
    }
}