.skills {
    margin: 4rem auto;
    text-align: center;
}

.skills h1 {
    margin: 0 auto 3rem;
    width: 20%;
    color: var(--color-primary-light);
    font-size: 2.5rem;
    font-weight: 600;
    border-bottom: 2px solid;
}

.skills h2 {
    color: var(--color-primary-light);
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    margin: 2rem auto 0;
    width: 15%;
}

.skills .skill {
    display: inline-block;
    font-weight: bold;
    font-size: .8rem;
    margin: 0 .3rem;
    transition: all .2s ease-in-out;
}

.skills .skill:hover {
    transform: scale(1.15);
}

.skills p {
    margin-bottom: 0;
}

.skills img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin: .5rem;
}

.skills hr {
    background-color: var(--color-primary-light);
    width: 3%;
    height: 1px;
    margin: .8rem auto 2rem;
}

@media screen and (max-width:940px) {
    .skills {
        padding: .7rem;
    }

    .skills .skill {
        margin: 0 .3rem 1rem;
    }

    .skills h1 {
        width: 85%
    }

    .skills h2 {
        width: 70%
    }

    .skills img {
        width: 50px;
        height: 50px;
    }

    .skills hr {
        width: 10%;
    }
}