.skills {
  margin: 4rem auto;
  text-align: center;
}

.skillContainer {
  display: inline;
}

.skills h1 {
  margin: 0 auto 2.5rem;
  width: 20%;
  color: var(--color-primary-light);
  font-size: 2.3rem;
  border-bottom: 2px solid;
}

.skills h2 {
  color: var(--color-primary-light);
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
  margin: 1.5rem auto 0;
  width: 15%;
}

.skills h2:hover + hr {
  width: 2%;
}

.skills hr {
  background-color: var(--color-primary-light);
  width: 3%;
  height: 1px;
  margin: 0.5rem auto 2rem;
  transition: 0.25s ease;
}

.skills .skill {
  display: inline-block;
  font-weight: bold;
  font-size: 0.64rem;
  letter-spacing: 0.5;
  margin: 0 0.6rem;
  transition: all 0.2s ease-in-out;
  background-color: rgba(220, 220, 220, 0.6);
  padding: 0.5rem;
  border-radius: 15px;
  width: 6rem;
}

.skills .familiarHeader {
  font-size: 1.7rem;
  margin-top: 3rem;
  min-width: 55%;
}

.skills .familiarSkill {
  box-shadow: 1px 1px 10px 2px var(--color-primary-light);
  min-width: 15%;
  padding: 0.5rem 0.5rem 0.2rem;
}

.familiarSkill p {
  color: var(--color-primary-light);
}

.skills .skill:hover,
.skills .familiarSkill:hover {
  transform: translateY(-10px);
  background-color: rgba(235, 235, 235, 0.7);
}

.skills p {
  margin-bottom: 0;
}

.skills img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin: 0.4rem;
}

@media screen and (max-width: 940px) {
  .skills {
    padding: 0.7rem;
  }

  .skills .skill {
    margin: 0 0.5rem 1rem;
    width: 5.5rem;
    font-size: 10px;
    padding: 0.3rem 0.1rem;
  }

  .skills h1 {
    width: 75%;
    font-size: 2rem;
    margin: 0 auto 2rem;
  }

  .skills h2 {
    width: 70%;
    margin: 1rem auto 0;
    font-size: 1.5rem;
  }

  .skills img {
    width: 50px;
    height: 50px;
  }

  .skills hr {
    width: 10%;
  }

  .skills .familiarHeader {
    margin-top: 2rem;
    min-width: 95%;
    font-size: 20px;
  }

  .skills .familiarSkill {
    display: block;
    width: 85%;
    margin: 0 auto 1.5rem;
  }

  .skills .familiarSkill img {
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 940px) {
  .skills h1 {
    width: 40%;
  }
}

@media screen and (min-width: 1920px) {
  .skills .familiarSkill {
    min-width: 10%;
  }
}
