#About {
  text-align: center;
  width: 100%;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -10;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#About img {
  width: 20rem;
  height: 20rem;
  filter: grayscale(90%);
  transition: 0.3s ease-in-out;
}

#About img:hover {
  filter: grayscale(0);
}

.Typewriter {
  display: inline-block;
}

.Typewriter__wrapper {
  font-weight: 600;
  color: var(--color-primary-dark);
  background-color: rgba(255, 255, 255, 0.4);
}

.Typewriter__cursor {
  color: var(--color-primary-dark);
}

.bottomContainer {
  position: relative;
}

.intro {
  font-family: "Mali", cursive;
  padding-bottom: 7rem;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 10rem;
  margin-top: 8rem;
}

.intro h1,
.intro h1 span {
  font-size: 3.3rem;
  color: var(--color-offWhite);
}

.intro h1 {
  display: inline-block;
  transition: all 0.3s ease;
  font-weight: 600;
}

.intro .welcomeMessage {
  margin: 3rem auto 2rem;
  font-weight: 500;
  text-transform: capitalize;
}

h1 span {
  line-height: 1.4;
  background-color: rgba(255, 255, 255, 0.3);
  letter-spacing: 1px;
}

h2 {
  margin-top: 2rem;
  font-size: 1.7rem;
  color: var(--color-offWhite);
}

h3 {
  color: var(--color-offWhite);
  font-size: 1.2rem;
  font-weight: 700;
}

#About button {
  margin: 6rem 0.5rem 2rem;
  border-radius: 30px;
  background: linear-gradient(
    0deg,
    var(--color-primary) 0%,
    var(--color-primary-light) 100%
  );
  transition: all 0.2s ease-in-out;
  text-transform: capitalize;
}

#About button:hover {
  background: linear-gradient(
    0deg,
    rgb(10, 92, 193) 0%,
    rgb(44, 139, 255) 100%
  );
}

#About .downloadButton {
  background: #444;
}

#About .downloadButton:hover {
  background: #222;
}

#About button a {
  color: #fff;
}

#About button a:hover {
  text-decoration: none;
}

/* from https://www.shapedivider.app/ */
.wave {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(160% + 1.3px);
  height: 80px;
}

.wave .shape-fill {
  fill: #01254c;
}

.bottom-wave {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.bottom-wave svg {
  position: relative;
  display: block;
  width: calc(160% + 1.3px);
  height: 80px;
}

.bottom-wave .shape-fill {
  fill: var(--color-primary);
}

.col {
  text-align: center;
}

.about-me {
  background: linear-gradient(180deg, #01254c 0%, var(--color-primary) 100%);
  padding: 0 10rem;
}

.about-me i {
  padding: 2.5rem;
  margin: 2rem 0;
  font-size: 5.5rem;
  border-radius: 150px;
  background-color: var(--color-offWhite);
  color: var(--color-primary);
  transition: all 0.6s ease;
  text-shadow: 10px 10px 10px rgba(70, 70, 70, 0.4);
}

.about-me i:hover {
  color: var(--color-offWhite);
  background-color: var(--color-primary);
}

.about-me p {
  padding: 0 0.75rem;
  color: var(--color-offWhite);
  font-size: 0.85rem;
  letter-spacing: 0.8px;
}

@media screen and (max-width: 940px) {
  .intro h1,
  .intro h1 span {
    font-size: 2.2rem;
    letter-spacing: 0;
  }

  .intro h1 {
    padding: 0 0.5rem;
  }

  .intro {
    padding-bottom: 1.5rem;
    flex-direction: column;
    gap: 0;
    margin-top: 6rem;
  }

  #About img {
    width: 10rem;
    height: 10rem;
    filter: grayscale(0%);
    transition: 0.3s ease-in-out;
  }

  .intro .welcomeMessage {
    margin: 1rem auto 1.5rem;
  }

  h2 {
    font-size: 1.1rem;
    margin-top: 2rem;
  }

  h2 span {
    display: flex;
    justify-content: center;
    gap: 7px;
    font-size: 1.5rem;
  }

  .about-me {
    padding: 1rem;
  }

  .about-me p {
    font-size: 14px;
  }

  #About button {
    margin: 3rem 0.5rem 0.5rem;
    font-size: 10px;
    padding: 0.6rem 1.2rem;
  }

  .wave svg,
  .bottom-wave svg {
    height: 50px;
  }

  .Typewriter {
    display: flex;
  }
}

@media screen and (min-width: 1600px) {
  .about-me {
    padding: 1rem 17rem;
  }

  .intro {
    margin-top: 13rem;
    padding-bottom: 15rem;
  }
}
