#About {
    margin-top: 10rem;
    padding: .4rem;
    text-align: center;
    width: 100%;
}

/* from https://www.shapedivider.app/ */
.wave {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(160% + 1.3px);
    height: 80px;
}

.wave .shape-fill {
    fill: rgb(27, 147, 207);
}

.bottom-wave {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bottom-wave svg {
    position: relative;
    display: block;
    width: calc(160% + 1.3px);
    height: 80px;
}

.bottom-wave .shape-fill {
    fill: rgb(0, 179, 255);
}

.Typewriter {
    display: inline-block;
}

.Typewriter__wrapper {
    font-weight: 600;
    color: var(--color-primary)
}

.Typewriter__cursor {
    color: var(--color-primary)
}

.intro {
    font-family: 'Mali', cursive;
    padding-bottom: 7rem;
    width: 101%;
    overflow: hidden;
}

h1 {
    font-size: 2.5rem;
}

.intro h1 {
    transform: rotate(2deg);
}

h1 span {
    background-color: var(--color-primary-light);
    line-height: 1.4;
}

h2 {
    margin-top: 2rem;
    font-size: 2.2rem;
}

h3 {
    color: var(--color-offWhite);
}

#About button {
    margin: 2.5rem .5rem 0;
    border-radius: 30px;
    background: linear-gradient(180deg, rgb(27, 147, 207) 0%, rgb(0, 179, 255) 100%);
    transition: all 0.2s ease-in-out;
    text-transform: capitalize;
    box-shadow: rgb(38, 57, 77) 0px 15px 12px -10px;
}

#About button a {
    color: #fff;
}

#About button a:hover {
    text-decoration: none;
}

.col {
    text-align: center;
}

.about-me {
    background: linear-gradient(180deg, rgb(27, 147, 207) 0%, rgb(0, 179, 255) 100%);
    padding: 1rem;
}

.about-me i {
    margin: 2.5rem 5rem 2rem;
    font-size: 5rem;
    color: var(--color-offWhite);
}

.about-me p {
    padding: 0 .75rem;
    color: var(--color-offWhite);
    font-size: 1rem;
}

@media screen and (max-width:940px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h2 span {
        display: flex;
        justify-content: center;
        gap: 7px;
    }

    .wave svg,
    .bottom-wave svg {
        height: 50px;
    }

    .Typewriter {
        display: flex;
    }
}