.backToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1rem;
    padding: .4rem;
    width: 10%;
    background-color: transparent;
    border: 2px solid var(--color-primary);
    border-radius: 30px;
    gap: .5rem;
    font-size: .85rem;
    font-weight: 700;
    transition: all .2s ease-in-out;
}

.backToTop:hover {
    border: 2px solid white;
    background-color: var(--color-primary);
    color: white;
}

.backToTop a.link {
    color: var(--color-primary);
}

.backToTop a.link:hover {
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1rem;
    padding: .6rem;
    width: 25%;
    border-radius: 30px;
    background: linear-gradient(180deg, rgb(31, 155, 217) 0%, rgb(0, 179, 255) 100%);
    gap: 1rem;
}

.footer i {
    margin: 0 2rem;
    color: var(--color-offWhite);
    font-size: 2rem;
    transition: all .1s ease-in-out;
}

.footer i:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 940px) {

    .backToTop {
        width: 60%;
    }

    .footer {
        width: 85%;
    }
}