@import "./bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


:root {
  --color-primary: rgb(31, 155, 207);
  --color-primary-light: rgba(31, 155, 207, .3);
  --color-offWhite: rgb(246, 246, 246)
}

body {
  box-sizing: border-box;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

html {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--color-primary);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

textarea::-webkit-scrollbar-thumb {
  background: var(--color-offWhite);
}

/* Fade In Animation */

.fade-in {
  -webkit-animation: fade-in 0.75s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 0.75s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}