@import "./bootstrap.min.css";

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-primary: rgb(31, 155, 207);
  --color-primary-light: rgba(31, 155, 207, .3);
  --color-offWhite: rgb(238, 238, 238)
}